.contentbody{
    background-color: var(--primary-color);
    border-radius: .5em;
    padding-top: 1em;
    p{
        line-height:2em ;
        text-align:left;
        padding:1em;
        font-size: 1.2em;
    }
}