@import "_toggletheme";
@import "_profilecard";
@import "_customizeSelectBox";
@import "_profileInfo";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Roboto", sans-serif;
}
$dark-background:#070F2B;
$dark-text:#C4DFDF;
$light-background:#C4DFDF;
$dark-primary:#1B1A55;
$light-primary:#D2E9E9;
$light-text:#070F2B;
[theme-mode="light"] {
    --background-color:#{$light-background};
    --text-color:#{$light-text};
    --primary-color:#{$light-primary};
}
[theme-mode="dark"] {
    --background-color:#{$dark-background};
    --text-color:#{$dark-text};
    --primary-color:#{$dark-primary};
}
body{
    width: 100%;
    min-height:100vh;
}
.App{
    background-color:var(--background-color);
    color:var(--text-color);
    width: 100%;
    min-height:100vh;
    text-align: center;
}