@import "_toggletheme";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
$dark-background:rgb(27, 27, 45);
$dark-text:#ededed;
$light-background:#ededed;
$dark-primary:#4e5eac;
$light-primary:#dddee3;
$light-text:rgb(27,27,45);
[theme-mode="light"] {
    --background-color:#{$light-background};
    --text-color:#{$light-text};
    --primary-color:#{$light-primary};
}
[theme-mode="dark"] {
    --background-color:#{$dark-background};
    --text-color:#{$dark-text};
    --primary-color:#{$dark-primary};
}
body{
    width: 100%;
    min-height:100vh;
}
.App{
    background-color:var(--background-color);
    color:var(--text-color);
    width: 100%;
    min-height:100vh;
    text-align: center;
}