.theme-toggle {
  width: 10em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: .5em;
  overflow: hidden;
}

.theme-toggle input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  width: 10em;
  height: 5em;
  z-index: 10;
}

.theme-toggle label {
  background-color: #fffd83;
  border-radius: 50px;
  cursor: pointer;
  padding: 1em;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.3s;
  width: 60%;
  height: 60%;
}

.theme-toggle label i {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  z-index: 9;
  transition: all .5s ease-in-out;
}

.theme-toggle label span {
  background-color: #ffbb00;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: all ease-in-out 0.3s;
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle input[type='checkbox']:checked ~ label {
  background-color: #223d55;
}

.theme-toggle input[type='checkbox']:checked ~ label span {
  background-color: #00a2ff;
  transform: translateX(90%);
}

.theme-toggle input[type='checkbox']:checked ~ label span i {
  transform: rotate(360deg);
  transition: all .5s ease-in-out;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-fluid .profilecard {
  position: relative;
  border-radius: .5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}

.container-fluid .profilecard .profileImage {
  position: absolute;
  top: -5em;
  border-radius: 1em;
  float: left;
  overflow: hidden;
  border: 1em solid var(--background-color);
  width: 15em;
  height: 15em;
  z-index: 5;
}

.container-fluid .profilecard .profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.container-fluid .profilecard .body {
  width: 100%;
  min-height: 20em;
  padding: .5em;
  border-radius: .5em;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding-top: 5em;
  display: flex;
  align-items: flex-end;
}

select {
  background-color: var(--primary-color);
  height: 5em;
  width: 10em;
  text-align: right;
  border-radius: .5em;
  border: none;
  color: var(--text-color);
  font-size: 1em;
  font-weight: 600;
  text-wrap: balance;
}

select option {
  background-color: var(--primary-color);
  width: 100%;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

[theme-mode="light"] {
  --background-color:#C4DFDF;
  --text-color:#070F2B;
  --primary-color:#D2E9E9;
}

[theme-mode="dark"] {
  --background-color:#070F2B;
  --text-color:#C4DFDF;
  --primary-color:#1B1A55;
}

body {
  width: 100%;
  min-height: 100vh;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  min-height: 100vh;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */